@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --font-comum: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo:"Passion One", sans-serif;
    --font-texto: "Sriracha", cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}


html, body {
    min-width: 96vw;
    background-color: darkgray;
    font-family: var(--font-comum);
}


header {
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;
    font-family: var(--fonte-titulo);
}


header > h1 {
    font-variant: small-caps;
    font-size: 10vw;
}


header > p {
    padding-bottom: 50px;
    font-size: 1.4em;
}


header a:hover, footer a:hover {
    text-decoration: underline;
}


footer {
    padding: 10px;
    background-color: black;
    color: red;
    text-align: center;
}


section {
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 2.7vw;
    font-family: var(--font-texto);
    background-size: cover;
    background-attachment: fixed;
}


section#img01 {
    background-image: url(../d012/imagens/background001.jpg);
    background-position: center right;
}

section#img02 {
    background-image: url(../d012/imagens/background002.jpg);
    background-position: center right;
}


section > p {
    padding-bottom: 2em;
}


section.imagem {
    background-color: darkgoldenrod;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: inset 6px 6px 13px 0px black;
}


section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.493);
    text-shadow: 3px 2px 5px black;
}


section.normal {
    background-color: white;
    color: black;
}


a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

